@model List<SliderEntity>
<div id="main_flexslider" class="flexslider">
    <ul class="slides">
        @foreach (var item in Model)
        {
            <li class="item" style="background-image: url(@item.Image)">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            @item.Title
                        </h1>
                        <p class="lead skincolored">@item.Description</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
